.main-footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  background: #f2f2f2;
  padding: 40px 60px;
  gap: 20px;
  font-family: Arial, sans-serif;
  color: #333;

  /* sombreado interior arriba */
  box-shadow: inset 0 5px 8px -5px rgba(0,0,0,0.3);
}
.logo{
  height:150px;
}

.footer-section {
  padding: 0 15px;
  border-right: 1px solid #4a90e2;
}

.footer-section:last-child {
  border-right: none;
  text-align: center;
}

.footer-section h3 {
  color: #004aad;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.footer-section ul li a:hover {
  color: #004aad;
}

.footer-section.faq a {
  font-size: 20px;
  font-weight: bold;
  color: #004aad;
  text-decoration: none;
}
