.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 25px;
}

.btn-call {
  background-color: #1E90FF;
  color: rgb(104, 219, 26);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
